/* Claude Theme */

[data-theme="claude"] {
  --background: #faf8f1;
  --foreground: #3d3826;
  --card: #faf8f1;
  --card-foreground: #141414;
  --popover: #ffffff;
  --popover-foreground: #29271b;
  --primary: #cb6441;
  --primary-foreground: #ffffff;
  --secondary: #e7e4dd;
  --secondary-foreground: #525044;
  --muted: #ede8d9;
  --muted-foreground: #85837d;
  --accent: #e7e4dd;
  --accent-foreground: #29271b;
  --destructive: #141414;
  --border: #d9d8d0;
  --input: #b4b1a3;
  --ring: #1b7ede;
  --chart-1: #b2572f;
  --chart-2: #9c87f6;
  --chart-3: #ded7c2;
  --chart-4: #dad2ef;
  --chart-5: #b25630;
  --sidebar: #f7f5ee;
  --sidebar-foreground: #3e3e38;
  --sidebar-primary: #cb6441;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #e7e4dd;
  --sidebar-accent-foreground: #353535;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;

  --font-sans:
    "Geist", "Geist Fallback", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono:
    "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

[data-theme="claude"].dark {
  --background: #262626;
  --foreground: #c3c1ba;
  --card: #262626;
  --card-foreground: #faf8f1;
  --popover: #303030;
  --popover-foreground: #e4e4e4;
  --primary: #d87757;
  --primary-foreground: #ffffff;
  --secondary: #faf8f1;
  --secondary-foreground: #303030;
  --muted: #1b1b1b;
  --muted-foreground: #b7b5a6;
  --accent: #1a1813;
  --accent-foreground: #f7f5ee;
  --destructive: #f14444;
  --border: #3e3e38;
  --input: #51504a;
  --ring: #1b7ede;
  --chart-1: #b2572f;
  --chart-2: #9c87f6;
  --chart-3: #1a1813;
  --chart-4: #302c48;
  --chart-5: #b25630;
  --sidebar: #1f1f1f;
  --sidebar-foreground: #c3c1ba;
  --sidebar-primary: #353535;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #0f0f0f;
  --sidebar-accent-foreground: #c3c1ba;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}
