/* Clean Slate Theme */

[data-theme="clean-slate"] {
  --background: #f8f8f8;
  --foreground: #1d293d;
  --card: #ffffff;
  --card-foreground: #1d293d;
  --popover: #ffffff;
  --popover-foreground: #1d293d;
  --primary: #6468f0;
  --primary-foreground: #ffffff;
  --secondary: #e4e8ef;
  --secondary-foreground: #364050;
  --muted: #f5f5f5;
  --muted-foreground: #6c727e;
  --accent: #e1e7fd;
  --accent-foreground: #364050;
  --destructive: #f14444;
  --border: #d0d4db;
  --input: #d0d4db;
  --ring: #6468f0;
  --chart-1: #6468f0;
  --chart-2: #4f46e5;
  --chart-3: #443bc9;
  --chart-4: #3730a5;
  --chart-5: #312d84;
  --sidebar: #f5f5f5;
  --sidebar-foreground: #1d293d;
  --sidebar-primary: #6468f0;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e1e7fd;
  --sidebar-accent-foreground: #364050;
  --sidebar-border: #d0d4db;
  --sidebar-ring: #6468f0;

  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0px 4px 8px -1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0px 4px 8px -1px rgb(0 0 0 / 0.05);
  --shadow-sm:
    0px 4px 8px -1px rgb(0 0 0 / 0.1), 0px 1px 2px -2px rgb(0 0 0 / 0.1);
  --shadow:
    0px 4px 8px -1px rgb(0 0 0 / 0.1), 0px 1px 2px -2px rgb(0 0 0 / 0.1);
  --shadow-md:
    0px 4px 8px -1px rgb(0 0 0 / 0.1), 0px 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0px 4px 8px -1px rgb(0 0 0 / 0.1), 0px 4px 6px -2px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0px 4px 8px -1px rgb(0 0 0 / 0.1), 0px 8px 10px -2px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0px 4px 8px -1px rgb(0 0 0 / 0.25);
}

[data-theme="clean-slate"].dark {
  --background: #0f182b;
  --foreground: #e3e8ef;
  --card: #1d293d;
  --card-foreground: #e3e8ef;
  --popover: #1d293d;
  --popover-foreground: #e3e8ef;
  --primary: #818cf9;
  --primary-foreground: #0f182b;
  --secondary: #2f3848;
  --secondary-foreground: #d0d4db;
  --muted: #1d293d;
  --muted-foreground: #9ba2ae;
  --accent: #364050;
  --accent-foreground: #d0d4db;
  --destructive: #f14444;
  --border: #4b5666;
  --input: #4b5666;
  --ring: #818cf9;
  --chart-1: #818cf9;
  --chart-2: #6468f0;
  --chart-3: #4f46e5;
  --chart-4: #443bc9;
  --chart-5: #3730a5;
  --sidebar: #1d293d;
  --sidebar-foreground: #e3e8ef;
  --sidebar-primary: #818cf9;
  --sidebar-primary-foreground: #0f182b;
  --sidebar-accent: #364050;
  --sidebar-accent-foreground: #d0d4db;
  --sidebar-border: #4b5666;
  --sidebar-ring: #818cf9;

  --shadow-2xs: 0px 1px 2px 0px rgb(0 0 0 / 0.01);
  --shadow-xs: 0px 1px 2px 0px rgb(0 0 0 / 0.01);
  --shadow-sm:
    0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 1px 2px -1px rgb(0 0 0 / 0.01);
  --shadow:
    0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 1px 2px -1px rgb(0 0 0 / 0.01);
  --shadow-md:
    0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 2px 4px -1px rgb(0 0 0 / 0.01);
  --shadow-lg:
    0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 4px 6px -1px rgb(0 0 0 / 0.01);
  --shadow-xl:
    0px 1px 2px 0px rgb(0 0 0 / 0.01), 0px 8px 10px -1px rgb(0 0 0 / 0.01);
  --shadow-2xl: 0px 1px 2px 0px rgb(0 0 0 / 0.03);
}
